/* nav design */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
/* Common shared file */
body{
    font-family: 'Open Sans', sans-serif;
}
.nav-title{
    
    color: #181818;
  
    font-size: 45px;
    font-weight: 800;  
    
  
   }

   .text-primary{
   color: #FD6E0A;
   }
   nav>ul{display: flex;
         align-items: center;
   }
   nav li{list-style: none;
           margin-right: 50px;
  }
  nav li a{
    text-decoration: none;
    color:#474747
  }
  button{border-radius: 5px;
    background: #FD6E0A;
    font-size: 20px;
   
     font-weight: 700;
   
     color: white;
     border: none;
    padding: 15px 35px;
}