*{
    margin:0px;
    padding: 0px;
}
body{
    font-family: 'Open Sans', sans-serif;
}

main{
    
}
main section {

   
}


.about{.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}
}
.section-description{color: blue;}